server
{
    listen       80;
    server_name example.localhost; #server_name end
    index index.html index.htm index.php; #index end

    set $subdomain '';
    root /wwwroot/example/public;

    error_log logs/example.err.log;
 #   access_log logs/example_access.log;
    include rewrite/laravel.conf;

    location ~ .*\.php$
    {
        fastcgi_pass  127.0.0.1:9000;
        fastcgi_index index.php;
        include fastcgi.conf;
    }

    location ~ .*\.(gif|jpg|jpeg|png|bmp|swf|flv|mp3|wma)$
    {
        expires      30d;
    }

    location ~ .*\.(js|css)$
    {
        expires      12h;
    }

}